{
  "plugins": [
    ["babel-plugin-styled-components", {
      "displayName": true,
      "ssr": true
    }],
    ["module-resolver", {
      "root": ["./"]}]
  ],
  "env": {
    "development": {
      "presets": "next/babel"
    },
    "production": {
      "presets": "next/babel"
    },
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel"
      ]
    }
  }
}
